<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Naoise's Petitions</title>
</head>
<body>
    <h1>Naoise's Petitions</h1>
    <a th:href="@{/petitions/create}">Create new petition</a>
    <br>
    <h3>Search Petitions:</h3>
    <form th:action="@{/petitions/search}" method="get">
        <input type="text" id="search" name="search" placeholder="Search petitions..." required>
        <input type="submit" value="Search">
    </form>
    <h3>All Petitions:</h3>
    <table>
        <tr>
            <th>Petition Title</th>
            <th>Signatures</th>
        </tr>
        <tr th:each="petition : ${petitions}">
            <td>
                <a th:href="@{/petitions/{id}(id=${petition.id})}" th:text="${petition.title}">Petition Title</a>
            </td>
            <td th:text="${#lists.size(petition.signatures)}">0</td>
        </tr>
    </table>

</body>
</html>