<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Create Petition</title>
</head>
<body>
    <h1>Create New Petition:</h1>
    <form th:action="@{/petitions/create}" th:object="${petition}" method="post">
        <label for="title">Title:</label>
        <br>
        <input type="text" id="title" th:field="*{title}" placeholder="Enter petition title..." required>
        <br>
        <label for="content">Content:</label>
        <br>
        <textarea id="content" th:field="*{content}" rows="5" placeholder="Enter petition description..." required></textarea>
        <br>
        <button type="submit">Submit Petition</button>
    </form>
    <br>
    <a th:href="@{/petitions}">Go back</a>
</body>
</html>